section.about
	.about__bg
	.topic.topic--dot.about__topic Об университете
	.about__wrapper
		.about__col
			.about__preview
				img(src='images/about/1.jpg', srcset='images/about/1@2x.jpg 2x', alt='')
				span Уфимский государственный нефтяной технический университет – один из ведущих технических
					|  университетов России. <span>Университет имеет статус регионального опорного вуза России.</span>
		.about__col.about__col--flex
			.about__description Уфимский государственный нефтяной технический университет – один из ведущих технических
				|  университетов России. Университет имеет статус регионального опорного вуза России, является опорным
				|  вузом ПАО «ГАЗПРОМ», ПАО «Сибур Холдинг», стратегическим партнером ПАО «НК «Роснефть». В 2020 году
				|  университет победил в конкурсе и стал членом «Лиги вузов» ПАО «Газпром нефть».
			.about__links
				a.about__link.about__link--active(href='#', target='_blank')
					.about__link-bg
					.about__link-content
						+button('', '', 'arrow-right')
						span Подробнее об <br> университете
				a.about__link(href='#', target='_blank')
					.about__link-bg
						img(src='images/about/2.jpg', srcset='images/about/2@2x.jpg 2x', alt='')
					.about__link-content
						+button('', '', 'arrow-right')
						span Галлерея