section.ad 
	.ad__top.top-ad 
		.top-ad__container.container
			.top-ad__header 
				.topic.topic--dot.top-ad__topic Объявления
				a(href='#').top-ad__show-all 
					span Смотреть все
				.top-ad__btns 
					.top-ad__btn.top-ad__btn-prev
						svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M2.56373 4.41672L5.69273 1.28772L4.8679 0.462891L0.33073 5.00006L4.8679 9.53722L5.69273 8.71239L2.56373 5.58339H9.66406V4.41672H2.56373Z' fill='#000000')

					.top-ad__btn.top-ad__btn-next
						svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M2.56373 4.41672L5.69273 1.28772L4.8679 0.462891L0.33073 5.00006L4.8679 9.53722L5.69273 8.71239L2.56373 5.58339H9.66406V4.41672H2.56373Z' fill='#000000')


			.top-ad__swiper.swiper 
				.swiper-wrapper 
					.swiper-slide.top-ad__slide 
						.top-ad__item 
							.top-ad__text Российский научный фонд (РНФ) извещает о проведении открытого публичного конкурса 2022 года на получение грантов Фонда по приоритетному направлению деятельности РНФ «Проведение фундаментальных научных исследований и поисковых научных исследований малыми отдельными научными группами».
							.top-ad__date 09.03.2022
					.swiper-slide.top-ad__slide 
						.top-ad__item 
							.top-ad__text 27 июня стартует студенческий тур «Поделись Россией». В конкурсном отборе приняли участие студенты из более 30 субъектов РФ. Всего в проекте примет участие молодежь из 28-ми университетов.
							.top-ad__date 09.03.2022
					.swiper-slide.top-ad__slide 
						.top-ad__item 
							.top-ad__text 27 июня стартует студенческий тур «Поделись Россией». В конкурсном отборе приняли участие студенты из более 30 субъектов РФ. Всего в проекте примет участие молодежь из 28-ми университетов.
							.top-ad__date 09.03.2022
					.swiper-slide.top-ad__slide 
						.top-ad__item 
							.top-ad__text 27 июня стартует студенческий тур «Поделись Россией». В конкурсном отборе приняли участие студенты из более 30 субъектов РФ. Всего в проекте примет участие молодежь из 28-ми университетов.
							.top-ad__date 09.03.2022

	.ad__bottom.bottom-ad
		.bottom-ad__container

				.bottom-ad__swiper.swiper 
					.bottom-ad__header
						.bottom-ad__pagination
						.bottom-ad__btns 
							.bottom-ad__btn.bottom-ad__btn-prev
								svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M2.56373 4.41672L5.69273 1.28772L4.8679 0.462891L0.33073 5.00006L4.8679 9.53722L5.69273 8.71239L2.56373 5.58339H9.66406V4.41672H2.56373Z' fill='#ffffff')

							.bottom-ad__btn.bottom-ad__btn-next
								svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M2.56373 4.41672L5.69273 1.28772L4.8679 0.462891L0.33073 5.00006L4.8679 9.53722L5.69273 8.71239L2.56373 5.58339H9.66406V4.41672H2.56373Z' fill='#ffffff')
					.swiper-wrapper 
						.swiper-slide.bottom-ad__slide 
							.bottom-ad__item 
								.bottom-ad__left.container 
									.bottom-ad__text Официальный интернет-ресурс для информирования о социально-экономической ситуации в России.
									a(href='#').bottom-ad__link Подробнее
								.bottom-ad__right.container 
									.bottom-ad__icon 
										img(src="images/ad/1.png", alt="alt")
						.swiper-slide.bottom-ad__slide 
							.bottom-ad__item 
								.bottom-ad__left.container 
									.bottom-ad__text Официальный интернет-ресурс для информирования о социально-экономической ситуации в России.
									a(href='#').bottom-ad__link Подробнее
								.bottom-ad__right.container 
									.bottom-ad__icon 
										img(src="images/ad/1.png", alt="alt")
						.swiper-slide.bottom-ad__slide 
							.bottom-ad__item 
								.bottom-ad__left.container 
									.bottom-ad__text Официальный интернет-ресурс для информирования о социально-экономической ситуации в России.
									a(href='#').bottom-ad__link Подробнее
								.bottom-ad__right.container 
									.bottom-ad__icon 
										img(src="images/ad/1.png", alt="alt")
						.swiper-slide.bottom-ad__slide 
							.bottom-ad__item 
								.bottom-ad__left.container 
									.bottom-ad__text Официальный интернет-ресурс для информирования о социально-экономической ситуации в России.
									a(href='#').bottom-ad__link Подробнее
								.bottom-ad__right.container 
									.bottom-ad__icon 
										img(src="images/ad/1.png", alt="alt")
						.swiper-slide.bottom-ad__slide 
							.bottom-ad__item 
								.bottom-ad__left.container 
									.bottom-ad__text Официальный интернет-ресурс для информирования о социально-экономической ситуации в России.
									a(href='#').bottom-ad__link Подробнее
								.bottom-ad__right.container 
									.bottom-ad__icon 
										img(src="images/ad/1.png", alt="alt")
