section.app
	.app__bg
		img(src='images/phone-mockup-2.png', srcset='images/phone-mockup-2@2x.png 2x', alt='')
	.container.app__container
		.topic Приложение
		+title-block('Скачайте приложение', 'Так будет удобнее обо всём узнавать и ориентироваться в информации по ВУЗу', 'app__title-block')
		.app__markets
			a(href='#', target='_blank')
				img(src='images/app-store.png', srcset='images/app-store@2x.png 2x', alt='')
			a(href='#', target='_blank')
				img(src='images/gp.png', srcset='images/gp@2x.png 2x', alt='')