section.first-screen
	.first-screen__bg-hovered
		img(src='images/bg-main/1.jpg', alt='')
		img(src='images/bg-main/2.jpg', alt='')
		img(src='images/bg-main/3.jpg', alt='')
		img(src='images/bg-main/4.jpg', alt='')
		img(src='images/bg-main/1.jpg', alt='')
		img(src='images/bg-main/2.jpg', alt='')
		img(src='images/bg-main/3.jpg', alt='')
		img(src='images/bg-main/4.jpg', alt='')
	.first-screen__bg
		video(src='images/video.webm' autoplay muted loop)
	.first-screen__top
		a.first-screen__logo(href='') УГНТУ
		+button('', 'first-screen__search js-open-search', 'search', '#')
	.first-screen__container-outer
		.first-screen__container
			include ../partials/menu-column.pug
			+title-block('Ведущий <span> <br> нефтегазовый вуз <br> России</span>', '', 'first-screen__title')
			+slider-arrows('first-screen__nav')
	.first-screen__wrapper.loaded

	.first-screen__slider
		ul.swiper-container.__js_slider-header-menu-2
			.swiper-wrapper
				li.swiper-slide(data-id='1')
					a(href='#') Истории успеха
				li.swiper-slide(data-id='2')
					a(href='#') Приемная <span>комиссия</span>
				li.swiper-slide(data-id='3')
					a(href='#') Приоритет 2030
				li.swiper-slide(data-id='4')
					a(href='#') Кампусы
				li.swiper-slide(data-id='1')
					a(href='#') Истории успеха
				li.swiper-slide(data-id='2')
					a(href='#') Приемная <span>комиссия</span>
				li.swiper-slide(data-id='3')
					a(href='#') Приоритет 2030
				li.swiper-slide(data-id='4')
					a(href='#') Кампусы
		ul.mobile.swiper-container.__js_slider-header-menu
			.swiper-wrapper
				li.swiper-slide
					a(href='#')
						figure
							div
								p Приемная комиссия
								p Реальные истории студентов
							+button('', '', 'arrow-right')
				li.swiper-slide
					a(href='#')
						figure
							div
								p Кампусы
								p Реальные истории студентов
							+button('', '', 'arrow-right')
				li.swiper-slide
					a(href='#')
						figure
							div
								p Кампусы
								p Реальные истории студентов
							+button('', '', 'arrow-right')
				li.swiper-slide
					a(href='#')
						figure
							div
								p Кампусы
								p Реальные истории студентов
							+button('', '', 'arrow-right')