section.front-partners
	.front-partners-row
		a.front-partners-item(href="")
			img(src="images/front-partners/2.svg", alt="")
		a.front-partners-item(href="")
			img(src="images/front-partners/1.svg", alt="")
		a.front-partners-item(href="")
			img(src="images/front-partners/3.svg", alt="")
		a.front-partners-item(href="")
			img(src="images/front-partners/4.svg", alt="")