section.history
	.history__top
		.topic История успеха
		+slider-arrows('history__nav')
	.history__slider.swiper-container.__js_slider-history
		.swiper-wrapper
			.history__slide.swiper-slide
				.history__image
					img(src='images/history/image-1.jpg', srcset='images/history/image-1@2x.jpg 2x', alt='')
				.history__content
					.history__author
						.history__author-image
							img(src='images/history/user-1.jpg', srcset='images/history/user-1@2x.jpg 2x', alt='')
						div
							.history__author-name Ильдар Атнабаев
							.history__author-pos выпускник УГНТУ,
					.history__description Ильдар — кандидат мастера спорта по плаванию, профессиональный музыкант, диджей,
						|  блоггер <a href="#" target="_blank">поделился своим жизненным кредо</a>.
					a.history__more(href='#', target='_blank') Подробнее
						+icon('chevron-right')(width='6', height='10')
			.history__slide.swiper-slide
				.history__image
					img(src='images/history/image-1.jpg', srcset='images/history/image-1@2x.jpg 2x', alt='')
				.history__content
					.history__author
						.history__author-image
							img(src='images/history/user-1.jpg', srcset='images/history/user-1@2x.jpg 2x', alt='')
						div
							.history__author-name Ильдар Атнабаев
							.history__author-pos выпускник УГНТУ,
					.history__description Ильдар — кандидат мастера спорта по плаванию, профессиональный музыкант, диджей,
						|  блоггер <a href="#" target="_blank">поделился своим жизненным кредо</a>.
					a.history__more(href='#', target='_blank') Подробнее
						+icon('chevron-right')(width='6', height='10')
			.history__slide.swiper-slide
				.history__image
					img(src='images/history/image-1.jpg', srcset='images/history/image-1@2x.jpg 2x', alt='')
				.history__content
					.history__author
						.history__author-image
							img(src='images/history/user-1.jpg', srcset='images/history/user-1@2x.jpg 2x', alt='')
						div
							.history__author-name Ильдар Атнабаев
							.history__author-pos выпускник УГНТУ,
					.history__description Ильдар — кандидат мастера спорта по плаванию, профессиональный музыкант, диджей,
						|  блоггер <a href="#" target="_blank">поделился своим жизненным кредо</a>.
					a.history__more(href='#', target='_blank') Подробнее
						+icon('chevron-right')(width='6', height='10')