section.news
	.news__wrapper
		a.news-preview.news__preview(href='#', target='_blank')
			figure
				.news-preview__bg
					img(src='images/news/1.jpg', srcset='images/news/1@2x.jpg 2x', alt='')
				.news-preview__container
					.news-preview__top
						+button('Наука', 'button--adaptive-size button--blue news-preview__tag')
					.news-preview__bottom
						.news-preview__date 09.03.2022
						.news-preview__title Дмитрий Виноградов: О сопромате на примере бублика
		.news__content
			.news__top
				+title-block('Новости', '', 'title-block--black news__title')
				+slider-arrows('slider-arrows--big slider-arrows--dark news__nav')
			.news__tags.swiper-container.__js_slider-menu
				.swiper-wrapper
					+button('Главное', 'swiper-slide button--adaptive-size news__tags-item active')
					+button('Университет', 'swiper-slide button--adaptive-size news__tags-item')
					+button('Образование', 'swiper-slide button--adaptive-size news__tags-item')
					+button('Наука', 'swiper-slide button--adaptive-size news__tags-item')
					+button('Медицина', 'swiper-slide button--adaptive-size news__tags-item')
					+button('СМИ о нас', 'swiper-slide button--adaptive-size news__tags-item')
			.news-preview.news__preview.news-preview.news__preview--mobile
				.news-preview__bg
					img(src='images/news/1.jpg', srcset='images/news/1@2x.jpg 2x', alt='')
				.news-preview__container
					.news-preview__top
						+button('Учеба', 'button--adaptive-size button--blue news-preview__tag')
					.news-preview__bottom
						.news-preview__date 12.02.2020
						.news-preview__title Для школьников «Роснефть-класса» стартовали занятия в УГНТУ
			.news__sliders-wrapper
				.news__slider.swiper-container.__js_slider-news.active
					.swiper-wrapper
						each item in NEWS
							+news-card('swiper-slide news__item', item.img, item.tag, item.title, item.date)
				.news__slider.swiper-container.__js_slider-news
					.swiper-wrapper
						each item in NEWS
							+news-card('swiper-slide news__item', item.img, item.tag, item.title, item.date)
				.news__slider.swiper-container.__js_slider-news
					.swiper-wrapper
						each item in NEWS
							+news-card('swiper-slide news__item', item.img, item.tag, item.title, item.date)
				.news__slider.swiper-container.__js_slider-news
					.swiper-wrapper
						each item in NEWS
							+news-card('swiper-slide news__item', item.img, item.tag, item.title, item.date)
				.news__slider.swiper-container.__js_slider-news
					.swiper-wrapper
						each item in NEWS
							+news-card('swiper-slide news__item', item.img, item.tag, item.title, item.date)
				.news__slider.swiper-container.__js_slider-news
					.swiper-wrapper
						each item in NEWS
							+news-card('swiper-slide news__item', item.img, item.tag, item.title, item.date)
	a.news__all(href='#') Все новости
		+icon('chevron-right')(width='6', height='10')