section.vacancies
	.vacancies__slider
		.vacancies__slide.active
			.vacancies__content
				.vacancies__top
					.topic.topic--dark.topic--dot.vacancies__topic Вакансии Лукойл
					+button('Все вакансии', 'button--adaptive-size button--dark-blue vacancies__all', '', '#')
				.vacancies__items.swiper-container.__js_slider-vacancies-list
					.swiper-wrapper
						.vacancies__item.swiper-slide
							.vacancies__position
								p Руководитель <br> проекта
								p Лукойл
							.vacancies__description Инициирование и реализация инвестиционных проектов по оптимизации технологических
								|  процессов производства смазочных и битумных материалов, переработки нефти с целью получения
								|  маржинальных продуктов
							+button('', 'vacancies__link', 'arrow-right', '#')
						.vacancies__item.swiper-slide
							.vacancies__position
								p Руководитель IT- проектов
								p Лукойл
							.vacancies__description Организация работ по запуску IT-проектов в бизнес-сегменте
								|  «Геологоразведка и добыча нефти и <br> газа» (бизнес-анализ, разработка технических заданий,
								|  ресурсных <br> планов, календарных планов, <br> инициация тендерных процедур)
							+button('', 'vacancies__link', 'arrow-right', '#')
			.vacancies__image
				img(src='images/vacancy/1.jpg', srcset='images/vacancy/1@2x.jpg 2x', alt='')
		.vacancies__slide
			.vacancies__content
				.vacancies__top
					.topic.topic--dark.topic--dot.vacancies__topic Вакансии Роснефть
					+button('Все вакансии', 'button--adaptive-size button--dark-blue vacancies__all', '', '#')
				.vacancies__items.swiper-container.__js_slider-vacancies-list
					.swiper-wrapper
						.vacancies__item.swiper-slide
							.vacancies__position
								p Руководитель проекта
								p Лукойл
							.vacancies__description Инициирование и реализация инвестиционных проектов по оптимизации технологических
								|  процессов производства смазочных и битумных материалов, переработки нефти с целью получения
								|  маржинальных продуктов
							+button('', 'vacancies__link', 'arrow-right', '#')
						.vacancies__item.swiper-slide
							.vacancies__position
								p Руководитель IT- проектов
								p Лукойл
							.vacancies__description Организация работ по запуску IT-проектов в бизнес-сегменте
								|  «Геологоразведка и добыча нефти и <br> газа» (бизнес-анализ, разработка технических заданий,
								|  ресурсных <br> планов, календарных планов, <br> инициация тендерных процедур)
							+button('', 'vacancies__link', 'arrow-right', '#')
			.vacancies__image
				img(src='images/vacancy/2.jpg', srcset='images/vacancy/2@2x.jpg 2x', alt='')
		.vacancies__slide
			.vacancies__content
				.vacancies__top
					.topic.topic--dark.topic--dot.vacancies__topic Вакансии Газпром
					+button('Все вакансии', 'button--adaptive-size button--dark-blue vacancies__all', '', '#')
				.vacancies__items.swiper-container.__js_slider-vacancies-list
					.swiper-wrapper
						.vacancies__item.swiper-slide
							.vacancies__position
								p Руководитель проекта
								p Лукойл
							.vacancies__description Инициирование и реализация инвестиционных проектов по оптимизации технологических
								|  процессов производства смазочных и битумных материалов, переработки нефти с целью получения
								|  маржинальных продуктов
							+button('', 'vacancies__link', 'arrow-right', '#')
						.vacancies__item.swiper-slide
							.vacancies__position
								p Руководитель IT- проектов
								p Лукойл
							.vacancies__description Организация работ по запуску IT-проектов в бизнес-сегменте
								|  «Геологоразведка и добыча нефти и <br> газа» (бизнес-анализ, разработка технических заданий,
								|  ресурсных <br> планов, календарных планов, <br> инициация тендерных процедур)
							+button('', 'vacancies__link', 'arrow-right', '#')
			.vacancies__image
				img(src='images/vacancy/3.jpg', srcset='images/vacancy/3@2x.jpg 2x', alt='')

		.vacancies__note выберите компанию
	.vacancies__thumbs
		.vacancies__thumb-item.active
			.vacancies__thumb-item-logo
				img(src='images/brands/lukoil.jpg', srcset='images/brands/lukoil@2x.jpg 2x', alt='Лукойл')
				span Лукойл
		.vacancies__thumb-item
			.vacancies__thumb-item-logo
				img(src='images/brands/rosneft.jpg', srcset='images/brands/rosneft@2x.jpg 2x', alt='Роснефть')
				span Роснефть
		.vacancies__thumb-item
			.vacancies__thumb-item-logo
				img(src='images/brands/gazprom.jpg', srcset='images/brands/gazprom@2x.jpg 2x', alt='Газпром')
				span Газпром
	a.vacancies__more(href='#') Все вакансии
