footer.footer
	#map.footer__map
	.footer__wrapper
		.footer__content
				.footer__top
					nav.menu-column.footer__menu-column
						each item in MENU_2
							li
								a(href=item.url)= item.text
					.footer__contacts
						.footer__contacts-item.footer__contacts-phone
							a(href='tel:+73472420370') +7 (347) 242-03-70
						.footer__contacts-item.footer__contacts-email
							a(href='#', target='_blank') Контактная информация
								+icon('chevron-right')(width='6', height='10')
						.footer__contacts-item.footer__contacts-email
							a(href='#', target='_blank') Электронная приемная
								+icon('chevron-right')(width='6', height='10')
				.footer__middle
					.footer__middle-text
						|Федеральное государственное бюджетное образовательное учреждение высшего образования «Уфимский государственный нефтяной технический университет» (УГНТУ)
					.footer__middle-btn
						img(src="images/footer-arrow.svg", alt="alt")
				.footer__bottom
					.footer__copyrights
						span © 1994—2021 УГНТУ
						a(href="#" target="_blank") Карта партнера
						a(href="#" target="_blank") Лицензия
					.footer__creator Сделано в <a href="#" target="_blank">Tiqum</a>
