.header-inner
	.container.header-inner__container
		a.header-inner__logo(href='#') УГНТУ
		.header-inner__group
			ul
				li
					a(href='#', target='_blank') Поступающим
				li
					a(href='#', target='_blank') Обучающимся
				li
					a(href='#', target='_blank') Alumni
				li
					a(href='#', target='_blank') Наука и инновации
				li
					a(href='#', target='_blank') Бизнесу
				li
					a(href='#', target='_blank') Университет
			+button('', 'header-inner__search js-open-search', 'search', '#')
