header.header
	.header__container
		.header__logo
			img(src="images/logo-a.svg", alt="alt")
		.header__burger
			span
		.header__group-nav
			+button('', '', 'person', '#')
			a.button.button-nav-menu
			+button('', '', 'eye', '#')
			+lang-switcher('header__lang')
	.header__container.header__container--mobile
		.header__left
			.header__logo
				img(src="images/logo-a.svg", alt="alt")
				span УГНТУ
			.header__burger
				span
		.header__right
			+lang-switcher('header__lang')
			.header__group-nav
				+button('', '', 'person', '#')
				a.button.button-nav-menu
				+button('', 'header__eye-btn', 'eye', '#')
				+button('', 'first-screen__search', 'search', '#')
				.header__burger.header__burger--mobile
					span
