.main-menu
	.main-menu__container

		.main-menu__outer
			.main-menu__title УГНТУ
			ul
				li
					a(href='#')
						span Поступающим
						+icon('arrow-right')
					.main-menu__submenu
						.main-menu__submenu-wrapper
							.main-menu__title-inner Университет
							.main-menu__section
								.main-menu__section-left 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
								.main-menu__section-right 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
				li
					a(href='#')
						span Обучающимся
						+icon('arrow-right')
					.main-menu__submenu
						.main-menu__submenu-wrapper
							.main-menu__title-inner Университет
							.main-menu__section
								.main-menu__section-left 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
								.main-menu__section-right 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
				li
					a(href='#')
						span Alumni
						+icon('arrow-right')
					.main-menu__submenu
						.main-menu__submenu-wrapper
							.main-menu__title-inner Университет
							.main-menu__section
								.main-menu__section-left 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
								.main-menu__section-right 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
				li
					a(href='#')
						span Наука и инновации
						+icon('arrow-right')
					.main-menu__submenu
						.main-menu__submenu-wrapper
							.main-menu__title-inner Университет
							.main-menu__section
								.main-menu__section-left 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
								.main-menu__section-right 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
				li
					a(href='#')
						span Бизнесу
						+icon('arrow-right')
					.main-menu__submenu
						.main-menu__submenu-wrapper
							.main-menu__title-inner Университет
							.main-menu__section
								.main-menu__section-left 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
								.main-menu__section-right 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
				li
					a(href='#')
						span Университет
						+icon('arrow-right')
					.main-menu__submenu
						.main-menu__submenu-wrapper
							.main-menu__title-inner Университет
							.main-menu__section
								.main-menu__section-left 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Сведения об образовательной организации
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
								.main-menu__section-right 
									.main-menu__subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
									.main-menu__subtitle.indent-subtitle Поступающим
									ul.main-menu__inner
										li
											a(href='#') Образование
										li
											a(href='#') Сведения об образовательной организации
										li
											a(href='#') Страница ректора
