.main-menu
	.main-menu__top
		.main-menu__logo
			+icon('logo-2')(width='123', height='36')
		+button('', 'button--dark-blue main-menu__close', 'close')
	.main-menu__outer
		ul
			li
				a(href='#')
					span Поступающим
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Поступающим
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Обучающимся
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Обучающимся
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Аспирантам и докторам
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Аспирантам и докторам
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Выпускникам
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Выпускникам
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Сотрудникам
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Сотрудникам
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Организациям
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Организациям
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Университет
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Университет
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Alumni
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Alumni
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Социальная сфера
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Социальная сфера
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Наука и иновации
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Наука и иновации
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
			li
				a(href='#')
					span Cотрудничество
					+icon('arrow-right')
				.main-menu__submenu
					.main-menu__submenu-wrapper
						.main-menu__top
							.main-menu__donat
								+button('Поддержать ВУЗ', 'button--adaptive-size button--dark-blue', '', '#')
							.main-menu__group-nav
								+lang-switcher('main-menu__lang')
								+button('', 'button--dark-blue', 'eye', '#')
								+button('', 'button--dark-blue', 'person', '#')
						.main-menu__section Cотрудничество
						ul.main-menu__inner
							li
								a(href='#') Расписание
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Студенческий офис
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Стипендиальное обеспечение
							li
								a(href='#') Документы УГНТУ
							li
								a(href='#') Обходной лист
							li
								a(href='#') Профком студентов
							li
								a(href='#') Профтелепорт SPE
							li
								a(href='#') Библиотека УГНТУ
							li
								a(href='#') Охрана здоровья обучающихся
							li
								a(href='#') Студенческий городок
							li
								a(href='#') Производственная практика
							li
								a(href='#') Cоц. инфраструктура УГНТУ
							li
								a(href='#') Трудоустройство выпускников
							li
								a(href='#') УПЦ "Комбинат питания"
							li
								a(href='#') Студенческая академия
							li
								a(href='#') Культурно-массовая работа
							li
								a(href='#') Студенческая биржа труда
							li
								a(href='#') Спортивная жизнь
					.main-menu__bg
						img(src='images/menu/1.jpg', srcset='images/menu/1@2x.jpg 2x', alt='')
