.contacts {
	display: flex;
	position: relative;
	@include max(md) {
		flex-direction: column;
	}

	&__life,
	&__connection {
		width: 50%;

		@include max(md) {
			width: 100%;
		}
	}

	&__life {
		background-color: $white;
		padding: 29px 35px 85px 39px;

		@include max(md) {
			padding: 22px 0 30px;
		}
	}

	&__connection {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: $dark-blue;
		padding: 29px 35px 60px 35px;

		@include max(md) {
			padding: 17px 15px 27px;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;

		@include max(md) {
			justify-content: center;
		}
	}

	&__nav {
		@include max(md) {
			display: none;
		}

		button {
			width: 38px;
			height: 38px;
			background-color: rgba($dark-blue, 0.1);
			padding: 14px;

			@include hover {
				background-color: $light-blue;

				svg {
					fill: $white;
				}
			}

			svg {
				fill: $black-09;
			}
		}
	}

	&__slider {
		margin-top: 58px;
		margin-right: -36px;
		margin-left: -36px;
		padding: 112px 0;

		@include max(md) {
			padding: 35px 0;
			margin-right: 0;
			margin-left: 0;
			margin-top: 25px;
		}

		.swiper-slide {
			cursor: pointer;
			max-width: 154px;
			opacity: 0.4;
			transition: transform 0.3s ease, opacity 0.3s ease;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&-active {
				position: relative;
				z-index: 9;
				transform: scale(1.82);
				opacity: 1;
/* 				margin-right: 82px !important;
 */
				@include max(md) {
					transform: scale(1.25);
/* 					margin-right: 30px !important;
					margin-left: 15px !important;
 */				}
			}
		}
	}

	&__topic {
		text-align: center;
	}

	&__text {
		max-width: 430px;
		margin: 0 auto;
		padding-top: 20px;

		@include max(md) {
			padding: 71px 13px 0;
		}

		@include font-size(lg);
		line-height: 36px;
		letter-spacing: -0.02em;
		color: $white;
		text-align: center;

		span {
			color: rgba($white, 0.27);
		}
	}

	ul.contacts__socials {
		@include max(md) {
			margin-top: 82px;
		}
	}
}






.block-video {
	position: fixed;
	z-index: 999999999999;
	top: -150%;
	left: 50%;
	width: 70vw;
	transform: translate(-50%, -50%);
	height: 60vh;
	background-color: #dddddd;
	opacity: 0;
	transition: opacity 0.3s ease 0s, top 0.3s ease 0.3s;
	&.active {
		top: 50%;
		opacity: 1;
		transition: opacity 0.3s ease 0.3s, top 0.3s ease 0s;
	}
	&-back {
		position: fixed;
		z-index: 99999;
		top: -150%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: 0.7);
		opacity: 0;
		transition: opacity 0.3s ease 0s, top 0.3s ease 0.3s;
		&.active {
			top: 0;
			opacity: 1;
			transition: opacity 0.3s ease 0.3s, top 0.3s ease 0s;
		}
	}
	&__container {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__player,
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__img {
		filter: drop-shadow(0 0 3.0625rem rgba(255, 255, 255, 0.5));
		transition: all 0.3s ease 0s;
		pointer-events: auto;
		cursor: pointer;
		background: url('../img/svg/block-video/1.svg') center / 100% 100% no-repeat;
	}

	&__player {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;

		&.active {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__img.hide {
		opacity: 0;
		pointer-events: none;
	}


	&__play-btn {
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		align-items: center;
		transform: translate(-50%, -50%);
		transition: all 0.3s ease 0s;
		width: 60px;
		height: 60px;
		opacity: 1;


		img {
			width: 100%;
			height: 100%;
		}
	}

	&__play-btn.hide {
		opacity: 0;
	}
}