.direction-2 {
	background-color: $gray-f5;

	&__container {
		padding-top: 60px;
		padding-bottom: 180px;

		@include max(sm) {
			padding-top: 50px;
			padding-bottom: 70px;
		}
	}

	&__wrapper {
		max-width: 1020px;
	}

	&__block {
		margin-top: 59px;

		@include max(sm) {
			margin-top: 40px;
		}
	}

	&__title {
		@include font-size(lg);
		letter-spacing: -0.02em;
	}

	&__text {
		font-size: 16px;
		line-height: 24px;
		margin-top: 20px;

		@include max(lg) {
			font-size: 14px;
			line-height: 22px;
		}
	}

	&__programs {
		margin-top: 28px;
	}

	&__item {
		margin-bottom: 20px;
	}
}