.events {
	$parent: &;

	padding: 26px 0 234px;
	position: relative;
	background-color: $gray-f5;

	@include max(md) {
		padding: 30px 0 0;
	}

	&__bg {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		transition: opacity 0.4s ease;

		@include max(md) {
			display: none;
		}

		img {
			display: none;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__bg-image {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		&::before {
			background-color: $gray-f5;
			z-index: -2;
		}

		&::after {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71));
		}
	}

	&__container {
		position: relative;
	}

	&__top {
		display: flex;
		justify-content: space-between;

		button {
			@include max(md) {
				display: none;
			}
		}
	}

	&__topic {
		@include max(md) {
			font-size: 26px;
			line-height: 28px;
			color: $textMainColor;
		}
	}

	&__calendar {
		margin-top: 90px;

		@include max(md) {
			margin-top: 19px;
			margin-right: -15px;
		}

		.swiper-wrapper {
			flex-direction: column;

			@include max(md) {
				flex-direction: row;
			}
		}
	}

	&__calendar-btn {
		padding: 12px 24px;
		margin-right: calc(39.4% - 242px);
		transition: background-color 0.3s ease;

		@include hover {
			background-color: rgba($white, 0.85);
		}

		@include max(md) {
			display: none;
		}
	}

	&__item {
		@include min(lgmin) {
			background-image: none !important;
		}

		@include max(md) {
			min-height: 352px;
		}
	}

	&__all {
		display: none;
		align-items: center;
		justify-content: space-between;
		padding: 17px 15px;
		@include font-size(xs);
		color: $white;
		background-color: $light-blue-1c;
		margin-top: 13px;

		@include max(md) {
			display: flex;
		}

		svg {
			fill: $white;
		}
	}

	&--dark {
		#{$parent} {
			@include min(lgmin) {
				/*&__bg {
					&::before,
					&::after {
						display: none;
					}
				}*/

				&__topic {
					color: $textMainColor;
				}

				&__item {
					opacity: 1;

					.calendar-item {
						&__day {
							color: $light-blue;
						}

						&__date,
						&__time,
						&__topic {
							color: $textMainColor;
						}

						&__link {
							button {
								background-color: rgba($textMainColor, 0.1);

								svg {
									fill: $textMainColor;
								}
							}
						}
					}
				}
			}
		}
	}
}