.first-screen {
	min-height: 100vh;
	margin-left: -90px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 80;
	overflow: hidden;

	@include max(lg) {
		margin-left: 0;
	}

	@include max(sm) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 12px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: $dark-blue;
		opacity: 0.39;
	}

	.menu-column {
		position: relative;
		z-index: 1112;
		@include max(lg) {
			display: none;
		}
	}

	&__bg,
	&__bg-hovered {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -999;
		background-size: cover;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		img {
			display: none;
		}
	}

	&__bg-hovered {
		z-index: -1;
		transition: opacity 0.4s ease;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: $dark-blue;
			opacity: 0.39;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 90px;
		right: 0;
		z-index: 1111;
		padding: 30px 30px 30px 23px;
		transition: background-color 0.3s ease, transform 0.3s ease;
		transform: translate(0, 0);
		&--white {
			background-color: $white;

			.first-screen__logo {
				color: $textMainColor;
			}

			.first-screen__search {
				background: rgba(143, 162, 210, 0.19);
				transition: background-color 0.3s ease;

				svg {
					fill: $textMainColor;
				}

				@include hover {
					background-color: $light-blue;

					svg {
						fill: $white;
					}
				}
			}
		}
	}
	.header-inner {
		z-index: 1115;
		border: none;
		.header-inner__group {
			ul {
				opacity: 1;
				transition: all 0.2s ease 0s;
			}
			.button {
				&:hover {
					background-color: #23c1cd;
				}
			}
			
		}
	}
	.header-inner.header-inner--white {
		z-index: 1111;
		border: none;
		.header-inner__group {
			ul {
				opacity: 0;
			}
			.button {
				&:hover {
					background-color: rgba(255, 255, 255, .4);
				}
			}
		}
	}
	
	&__top.fixed-scroll-top {
		transform: translate(0, -120%);
		.header-inner__group {
			ul {
				opacity: 1!important;
			}
		}
	}



	&__logo {
		font-size: 35px;
		line-height: 24px;
		letter-spacing: -0.02em;
		color: $white;
	}

	&__search {
		width: 50px;
		height: 50px;
		padding: 17px;

		@include hover {
			background-color: rgba($color: #ffffff, $alpha: 0.3);
		}

		@include max(xl) {
			width: 40px;
			height: 40px;
			padding: 13px;
		}

		@include max(xs) {
			display: none !important;
		}
	}

	&__container-outer {
		padding-left: 90px;
		height: 100vh;

		@include max(lg) {
			padding-left: 0;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		padding: 30px 20px 55px;
		margin-left: 260px;
		margin-right: 100px;
		position: relative;
		z-index: 1112;

		@include max(xl) {
		}
		@media (max-width: 1525px){
			margin-left: 246px;
		}
		@include max(1279) {
			padding: 169px 20px 39px;
			margin-left: 134px;
		}

		@include max(1079) {
			padding: 100px 43px 140px;
			margin-left: 0;
			margin-right: 0;
		}

		@include max(sm) {
			padding: 100px 43px 223px;
		}

		@include max(xs) {
			padding: 85px 12px 223px;
		}
	}

	&__wrapper {
		//width: 35.9%;
		width: 39.6%;
		height: 100vh;
		margin-right: auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transform: translateX(100%);
		opacity: 0;
		transition: transform 1s ease-out, opacity 1s ease-out;

		@include max(1279) {
			width: 30.6%;
		}
		@include max(1079) {
			width: 100%;
			height: 456px;
		}

		@include max(xs) {
			height: 220px;
		}

		&.loaded {
			transform: translateX(0);
			opacity: 1;

			.first-screen__left::before {
				@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
					background: rgba(9, 32, 89, 0.46);
					backdrop-filter: blur(24px);
					box-shadow: none;
					top: 0;
					left: 0;
					filter: none;
				}
			}
		}

		&::before {
			content: '';
			display: block;
			width: calc(100% + 100px);
			height: calc(100% + 100px);
			background: inherit;
			position: absolute;
			top: -100px;
			left: -100px;
			right: 0;
			bottom: 0;
			z-index: -1;
			backdrop-filter: blur(24px);
			backdrop-filter: blur(24px);
			//filter: blur(24px);
			box-shadow: inset 0 0 0 3000px rgba(9, 32, 89, 0.46);
			//transition: backdrop-filter 0.3s ease 1.2s;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;

		margin-right: auto;
		//background: rgba(9, 32, 89, 0.46);
		position: relative;

		@include max(sm) {
			width: 100%;
			padding: 165px 12px 20px;
		}
	}

	&__title {
		max-width: 870px;
		margin-left: -10px;

		@include max(xl) {
			margin-left: 0;
		}

		@include max(1079) {
			display: flex;
			align-items: flex-end;
			height: 321px;
		}

		@include max(xs) {
			align-items: flex-start;
			height: 134px;
		}

		@media (max-width: 900px) and (orientation: landscape) {
			height: 134px;
		}

		span {
			opacity: 0.3;
		}

		h2 {
			font-size: 102px;
			line-height: 102px;
			letter-spacing: -0.05em;

			@include max(1525) {
				font-size: 85px;
				line-height: 85px;
			}
			@include max(lg) {
				font-size: 68px;
				line-height: 67px;
			}

			@include max(xs) {
				font-size: 26px;
				line-height: 28px;
			}

			@media (max-width: 900px) and (orientation: landscape) {
				font-size: 26px;
				line-height: 28px;
			}
		}
	}

	&__slider {
		width: 60%;
		position: absolute;
		bottom: 0;
		right: -2px;
		z-index: 1113;
		overflow: hidden;
		@include max(1279) {
			width: 69%;
		}

		@include max(1079) {
			width: 100%;
			left: 42px;
		}

		@include max(sm) {
			bottom: 48px;
		}

		@include max(xs) {
			left: 0;
			right: 0;
			bottom: 24px;
		}

		ul {
			width: 100%;
			margin-left: -2px;
		
			@include max(sm) {
				display: none;
			}
		
			@include max(xs) {
				margin-left: 0;
			}
		
			&.mobile {
				display: none;
		
				@include max(sm) {
					display: block;
					margin-top: 20px;
					height: auto;
				}
			}
		
			li {
				display: flex;
				flex-direction: column;
				min-height: 85px;
		
				@include max(sm) {
					background-color: $white;
					padding: 20px 11px 10px;
					height: 156px;
				}
		
				figure {
					@include max(sm) {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 100%;
					}
				}
		
				p+p {
					font-size: 12px;
					line-height: 14px;
					color: rgba($textMainColor, 0.2);
					margin-top: 4px;
				}
		
				>a {
					display: block;
					width: 100%;
					height: 100%;
					min-height: 85px;
					@include font-size(xs);
					line-height: 1.2;
					color: rgba($white, 0.2);
					border-left: 1px solid rgba($white, 0.15);
					padding-left: 14px;
					padding-bottom: 10px;
					transition: background-color 0.3s ease;
		
					@include max(sm) {
						display: block;
						width: 100%;
						height: 100%;
						min-height: 0;
						border: 0;
						margin-right: 0;
						padding-left: 0;
						padding-bottom: 0;
						color: $textMainColor;
					}
		
					@include hover {
						border-color: $light-blue;
						color: $white;
					}
				}
		
				&:first-child {
					>a {
						border-left: none;
					}
				}
		
				button {
					@include max(sm) {
						width: 32px;
						height: 32px;
						background-color: rgba($dark-blue, 0.1);
					}
		
					svg {
						@include max(sm) {
							fill: $textMainColor;
						}
					}
				}
			}
		}

	}



	&__nav {
		@include max(xs) {
			display: none;
		}

		@media (max-width: 900px) and (orientation: landscape) {
			display: none;
		}

		button {
			width: 50px;
			height: 50px;
			padding: 19px;
			position: relative;
			z-index: 4;
			@include hover {
				background-color: $light-blue;
			}
		}
	}
}