.news-card {
	$parent: &;
	flex-shrink: 1;
	display: block;
	width: 100%;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	@media (max-width: 1199px){
		flex-shrink: 0;
	}
	@include hover {
		box-shadow: 0 0 14px -1px rgba(34, 60, 80, 0.18);

		#{$parent} {
			&__link {
				button {
					background-color: $light-blue;
				}

				svg {
					fill: $white;
					transform: translateX(2px);
				}
			}
		}
	}

	&__image {
		height: 384px;
		position: relative;
		@media (min-width: 1200px) and (max-width: 1700px) {
			height: 210px;
		}
		@media (max-height: 700px){
			height: 150px;
		}
		@include max(md) {
			height: 164px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__tag {
		position: absolute;
		top: 22px;
		left: 22px;
		padding: 8.5px 12px;

		@include max(md) {
			padding: 3px 10px;
			font-size: 12px;
			top: 13px;
			left: 13px;
		}
	}

	&__content {
		padding: 22px 28px 30px 22px;
		background-color: $white;

		@include max(md) {
			display: flex;
			flex-direction: column;
			min-height: 160px;
			padding: 11px 14px 16px 14px;
		}
	}

	&__title {
		height: 84px;
		@include font-size(sm);
		letter-spacing: -0.02em;
		color: $textMainColor;
		overflow: hidden;

		@include max(md) {
			height: auto;
			overflow: visible;
			font-size: 14px;
			line-height: 18.5px;
		}
	}

	&__date {
		@include font-size(xxs);
		color: rgba($textMainColor, 0.64);
		margin-top: 11px;

		@include max(md) {
			margin-top: auto;
		}
	}

	&__link {
		display: flex;
		justify-content: flex-end;
		margin-top: 60px;
		@media (max-height: 750px){
			margin-top: 15px;
		}
		@include max(md) {
			display: none;
		}

		button {
			padding: 14px;
		}

		svg {
			transition: transform 0.3s ease, fill 0.3s ease;
		}
	}

	&--auto-height {
		#{$parent} {
			&__content {
				padding-left: 28px;
			}

			&__title {
				max-width: 290px;
			}

			&__date {
				padding-left: 4px;
			}

			&__image {
				height: auto;
			}
		}
	}
}