.banner {
	$parent: &;

	display: flex;
	align-items: flex-end;
	min-height: 535px;
	padding: 200px 0 38px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	@include max(md) {
		padding: 150px 0 30px;
	}

	@include max(sm) {
		min-height: 400px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(0deg, rgba(9, 31, 84, 0.7), rgba(9, 31, 84, 0.7)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {
		max-width: 1000px;
		font-size: 48px;
		line-height: 52px;
		letter-spacing: -0.02em;
		color: $white;
		margin-top: 30px;

		@include max(md) {
			font-size: 50px;
			line-height: 50px;
			margin-top: 20px;
		}

		@include max(sm) {
			font-size: 40px;
			line-height: 40px;
			margin-top: 10px;
		}

		@include max(xs) {
			font-size: 30px;
			line-height: 35px;
		}
	}

	&__date {
		@include font-size(xs);
		color: $light-blue;
		margin-top: 30px;
	}

	&--white {
		&::before {
			display: none;
		}

		#{$parent} {
			&__title {
				font-size: 82px;
				line-height: 63.5px;
				letter-spacing: -0.02em;
				color: $textMainColor;

				@include max(md) {
					font-size: 50px;
					line-height: 50px;
				}

				@include max(sm) {
					font-size: 40px;
					line-height: 40px;
				}
			}
		}
	}
}