.header-inner {
	$parent: &;

	width: calc(100% - 90px);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	height: 90px;
	background-color: $white;
	border-bottom: 1px solid rgba($black, 0.15);
	transition: background-color 0.3s ease, transform 0.3s ease;
	transform: translate(0, 0);
	@include max(1199) {
		display: none;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: inherit;
	}

	&__logo {
		font-size: 35px;
		line-height: 24px;
		font-weight: 500;
		letter-spacing: -0.02em;
		color: $textMainColor;
	}

	&__group {
		display: flex;
		align-items: center;
		height: inherit;
	}
	
	ul {
		display: flex;
		align-items: center;
		height: inherit;

		li {
			height: inherit;

			+ li {
				margin-left: 31px;
			}

			a {
				display: inline-flex;
				align-items: center;
				font-size: 16px;
				line-height: 16px;
				color: rgba($black, 0.2);
				height: inherit;
				transition: color 0.3s ease;

				@include hover {
					color: rgba($black, 0.5);
				}
			}
		}
	}

	&__search {
		width: 50px;
		height: 50px;
		background: rgba(143, 162, 210, 0.19);
		padding: 17px;
		margin-left: 30px;
		transition: background-color 0.3s ease;

		@include hover {
			background-color: $light-blue;

			svg {
				fill: $white;
			}
		}

		svg {
			fill: $dark-blue;
			transition: fill 0.3s ease;
		}
	}

	&--white {
		background-color: transparent;

		ul li a {
			color: $white;
		}

		#{$parent} {
			&__logo {
				color: $white;
			}

			&__search {
				background-color: rgba($white, 0.1);

				svg {
					fill: $white;
				}
			}
		}
	}
	.header-univ {
		&.active {
			color: rgba($black, 0.5);
		}
	}
	&.fixed-scroll-top {
		transform: translate(0, -120%);
	}
}
.header--back-color-new {
	background-color: transparent;
}
.header--back-color-new.active {
	background-color: #ffffff;
}