html {
}

body {
	font-size: 16px;
	font-family: $mainFont;
	color: $textMainColor;
	background-color: $gray-f5;

	&.bg-white {
		background: $white;
	}
}

a {
	text-decoration: none;
}

ul,
ol,
nav {
	list-style: none;
	padding: 0;
}

input,
button {
	-webkit-appearance: none;
}

input,
button,
select,
textarea {
	font: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

input,
textarea {
	&::placeholder {
		font-family: $mainFont;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}

.main {
	padding-top: 0;
}

.table-wrapper {
	@media (max-width: 600px){
		overflow-x: auto;
		table {
			min-width: 600px;
		}
	}
}

body,
footer {
	padding-left: 90px;
	position: relative;

	@include max(lg) {
		padding-left: 0;
	}

	&::before {
		content: '';
		display: block;
		width: 90px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $dark-blue;

		@include max(lg) {
			display: none;
		}
	}
}

.container {
	width: 100%;
	padding: 0 75px;
	margin: 0 auto;
	max-width: 100%;

	@include max(2500) {
		padding: 0 51px;
	}

	@include max(1920) {
		padding: 0 35px;
	}

	@include max(767) {
		padding: 0 20px;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 101;
	background-color: #091128;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.body-scroll-lock {
	overflow: hidden;

	.overlay {
		opacity: 0.7;
		pointer-events: auto;
	}
}

.topic {
	@include font-size(xs);
	color: $white;
	letter-spacing: -0.02em;

	&--dark {
		color: $black-02;
	}

	&--dot {
		display: flex;

		@include max(md) {
			display: none;
		}

		&::before {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			margin-right: 15px;
			background-color: $turquoise;
		}
	}
}

/* Select2 custom */
.select2-container--default {
	&.select2-container--open {
		.select2-selection--single .select2-selection__arrow b {
			border: 1px solid rgba($white, 0.16);
		}
	}

	.select2-selection--single {
		background-color: transparent;
		border: 0;

		.select2-selection {
			&__rendered {
				color: $white;

				@include max(lg) {
					font-size: 21px;
					line-height: 21px;
					color: rgba($white, 0.2);
				}
			}

			&__placeholder {
				@include font-size(sm);
				letter-spacing: -0.02em;
				color: $white;
			}

			&__arrow {
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				b {
					width: 100%;
					height: 100%;
					display: block;
					border: 1px solid rgba($white, 0.16);
					border-radius: 50%;
					margin: 0;
					position: relative;
					top: 0;
					left: 0;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='4' viewBox='0 0 7 4' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.5 2.54564L6.22234 -3.39924e-08L7 0.727179L3.5 4L-3.1786e-08 0.727179L0.777655 -2.71987e-07L3.5 2.54564Z' fill='white' /%3e%3c/svg%3e ");
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}
z
/* Map */
.marker-label {
	font-family: $mainFont !important;
	font-size: 16px !important;
	line-height: 23px;
	color: $white !important;
	max-width: 266px !important;
	white-space: normal;
	text-align: left;
}