.menu {
	display: flex;

	li {
		border-radius: 25px;
		transition: background-color 0.3s ease;

		@include hover {
			background-color: $white;

			a {
				color: $black-02;
			}
		}

		a {
			display: block;
			padding: 17px 31px;
			font-size: 16px;
			line-height: 16px;
			color: rgba($white, 0.2);
			transition: color 0.3s ease;
		}
	}
}