.menu-column {
	display: flex;
	flex-direction: column;

	li {
		+ li {
			margin-top: 6px;
		}

		a {
			font-size: 16px;
			line-height: 16px;
			color: $white;

			@include hover {
				text-decoration: underline;
			}

			@include max(md) {
				font-size: 14px;
			}
		}
	}
}