include icon.pug
include lang-switcher.pug
include button.pug
include title-block.pug
include slider-arrows.pug
include news-card.pug
include calendar-item.pug
include consult-card.pug
include socials.pug
include breadcrumbs.pug
include document-card.pug
include events-card.pug