mixin breadcrumbs(links, className)
	nav.breadcrumbs(class=className)
		each elem, i in links
			if i === links.length - 1
				li
					span.breadcrumbs__link.breadcrumbs__link--active= elem.text
			else
				li
					a(href=elem.href)
						span= elem.text
						+icon('chevron-right')(width='6', height='10')