extends ../layouts/default

block vars
	-
		const page = {
			title: 'Статья'
		};
	- headerMod = 'header--relative header--theme-dark'
	- bodyMod = 'bg-white'

block main
	.article
		.container
			+breadcrumbs([
				{href: '#', text: 'Университет'},
				{href: '#', text: 'Издательская деятельность'}
			], 'article__breadcrumbs')
			.article__title Издательская деятельность
			.article__top
				include ../partials/button-back.pug
				p Оглавление
		.article__main
			.container.article__container
				.article__left
					.article__subtitle Направление подготовки «менеджмент»
					.article__block
						.article__block-title МЭК113
						.article__text
							p Магистерская программа «Производственный менеджмент» <br>
								|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
								|  управленческих и административных служб нефтяных и газовых компаний.
							p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
								|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
								|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
								|  базу управления основной производственной деятельности организации.
							p Магистерская программа «Производственный менеджмент» <br>
								|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
								|  управленческих и административных служб нефтяных и газовых компаний.
							p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
								|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать
								|  управленческие решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую
								|  и организационную базу управления основной производственной деятельности организации.
							p Выпускник программы обладает компетенциями в области оценки эффективности, оптимизации, разработки и обоснования
								|  направлений развития производственных процессов предприятий нефтяной и газовой промышленности.Магистерская программа
								|  «Производственный менеджмент» <br>
								|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
								|  управленческих и административных служб нефтяных и газовых компаний.
							p  Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
								|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
								|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
								|  базу управления основной производственной деятельности организации. <br>
								|  Выпускник программы обладает компетенциями в области оценки эффективности, оптимизации, разработки и обоснования
								|  направлений развития производственных процессов предприятий нефтяной и газовой промышленности.
					.article__quote В учебном процессе задействованы высококвалифицированные преподаватели филиала, имеющие ученые
						|  степени и звания, ведущие специалисты промышленных предприятий.
					.article__block
						.article__block-title МЭК116
						.article__text
							p Магистерская программа «Производственный менеджмент» <br>
								|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
								|  управленческих и административных служб нефтяных и газовых компаний.
							p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
								|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
								|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
								|  базу управления основной производственной деятельности организации.
					a.article__links-item.article__links-item--bt.article__links-item--margins(href='#', target='_blank')
						span Башкирский химический журнал
						+button('', 'button--gray', 'arrow-right')

				.article__right.article__right--order
					.article__links
						a.article__links-item(href='#', target='_blank')
							span Учебный научно-производственный центр
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Газета "За нефтяные кадры"
							+button('', 'button--gray', '')
							img(src="images/link.svg" alt="")

						a.article__links-item(href='#', target='_blank')
							span Научно-технический журнал "Нефтегазовое дело"
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Сетевое издание "Нефтегазовое дело"
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', '')
							img(src="images/link.svg" alt="")

			.container
				.article__block-image
					.article__image
						img(src='images/article/1.jpg', srcset='images/article/1@2x.jpg 2x', alt='')
					.article__image-caption Башкирский химический <br> журнал
				section.documents.article__documents
					.documents__top
						.documents__group
							.documents__title Документы
							+slider-arrows('documents__nav')
						.documents__all Все документы
							+icon('chevron-right')(width='6', height='10')
					.documents__slider.swiper-container.__js_slider-documents
						.swiper-wrapper
							each item in DOCUMENTS
								+document-card('swiper-slide', item.title, item.fileType, item.date)

			.container.article__container
				.article__left
					.article__block
						.article__block-title МЭК116
						.article__text
							p Магистерская программа «Производственный менеджмент» <br>
								|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
								|  управленческих и административных служб нефтяных и газовых компаний.
							p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
								|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
								|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
								|  базу управления основной производственной деятельности организации.
					.article__documents-row
						each item in DOCUMENTS_2
							+document-card('document-card--row article__documents-row-item', item.title, item.fileType, item.date)
				.article__right

			.container
				table.article__table
					thead
						tr
							th Знания и навыки
							th Знания и навыки
							th Знания и навыки
							th Знания и навыки
							th Знания и навыки
							th Знания и навыки
					tbody
						tr
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
						tr
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
						tr
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
						tr
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
						tr
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
						tr
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки
							td Знания и навыки

			.container.article__container
				.article__left
					ul.article__ul
						li Магистерская программа «Производственный менеджмент» Данную магистерскую программу можно считать «базовой» для
							|  подготовки специа
						li Магистерская программа «Производственный менеджмент» Данную магистерскую программу можно считать «базовой» для
							|  подготовки специа
						li Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
							|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать
							|  управленческие решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную базу управления основной производственной деятельности организации.
						li контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную базу
							|  управления основной производственной деятельности организации.
					.article__text
						p Магистерская программа «Производственный менеджмент» <br>
							|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
							|  управленческих и административных служб нефтяных и газовых компаний.
						p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
							|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
							|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
							|  базу управления основной производственной деятельности организации.
						p Магистерская программа «Производственный менеджмент» <br>
							|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
							|  управленческих и административных служб нефтяных и газовых компаний.
						p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
							|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
							|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
							|  базу управления основной производственной деятельности организации.
						p Выпускник программы обладает компетенциями в области оценки эффективности, оптимизации, разработки и обоснования
							|  направлений развития производственных процессов предприятий нефтяной и газовой промышленности.Магистерская программа
							|  «Производственный менеджмент» <br>
							|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
							|  управленческих и административных служб нефтяных и газовых компаний.
						p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
							|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать управленческие
							|  решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую и организационную
							|  базу управления основной производственной деятельности организации. <br>
							|  Выпускник программы обладает компетенциями в области оценки эффективности, оптимизации, разработки и обоснования
							|  направлений развития производственных процессов предприятий нефтяной и газовой промышленности.
					ol.article__ol
						li
							span Магистерская программа «Производственный менеджмент» <br> Данную магистерскую программу можно считать «базовой» <br> для
								|  подготовки специа
							ol.article__ol
								li
									span Магистерская программа «Производственный менеджмент» <br> Данную магистерскую программу можно считать «базовой» <br> для
										|  подготовки специа
								li
									span Магистерская программа «Производственный менеджмент» <br> Данную магистерскую программу можно считать «базовой» <br> для
										|  подготовки специа
						li
							span Магистерская программа «Производственный менеджмент» <br> Данную магистерскую программу можно считать «базовой» <br> для
								|  подготовки специа
							ol.article__ol
								li
									span Магистерская программа «Производственный менеджмент» <br> Данную магистерскую программу можно считать «базовой» <br> для
										|  подготовки специа
								li
									span Магистерская программа «Производственный менеджмент» <br> Данную магистерскую программу можно считать «базовой» <br> для
										|  подготовки специа
				.article__right
