extends ../layouts/default

block vars
	-
		const page = {
			title: 'Направление'
		};
	- bodyMod = 'bg-white visually-impaired'
	- headerMod = 'header-inner--white'

block main
	.direction
		.direction__banner
			.container
				+breadcrumbs([
					{href: '#', text: 'Направление'},
					{href: '#', text: 'Информатика и вычислительная техникаи производств'}
				], 'breadcrumbs--white direction__breadcrumbs')
			.direction__wrapper 
				.container.direction__container
					.direction__left
						.direction__left-top
							+title-block('Информатика и вычислительная техникаи производств', '', 'direction__title')
					.direction__right
						.direction__right-item 
							.direction__right-column
								.direction__right-subtitle Бюджетные места
								.direction__right-num 35
						.direction__right-item 
							.direction__right-column
								.direction__right-subtitle Платные места
								.direction__right-num 20
					
		.direction__main
			.container
				.direction__main-row
					.direction__text
						p Направление находится на стыке менеджмента и IT и предлагает инновации, помогающие реализовывать ключевые бизнес-задачи. Программа включает в себя автоматизацию работы административных подразделений и поддержку функционирования конкретных процессов в экономике при помощи информационного обеспечения.
	
						p Прошедший обучение специалист анализирует, прогнозирует, моделирует и создает информационные процессы и технологии в рамках профессионально-ориентированных информационных систем.
	
						p Бизнес-информатик связывает воедино стратегию и тактику бизнеса, ключевые задачи и способы их выполнения, а также высокоуровневые требования к программной системе и методы ее реализации.Направление находится на стыке менеджмента и IT и предлагает инновации, помогающие реализовывать ключевые бизнес-задачи. Программа включает в себя автоматизацию работы административных подразделений и поддержку функционирования конкретных процессов в экономике при помощи информационного обеспечения.
	
						p Прошедший обучение специалист анализирует, прогнозирует, моделирует и создает информационные процессы и технологии в рамках профессионально-ориентированных информационных систем.
	
						p Бизнес-информатик связывает воедино стратегию и тактику бизнеса, ключевые задачи и способы их выполнения, а также высокоуровневые требования к программной системе и методы ее реализации.
							br
							|Направление находится на стыке менеджмента и IT и предлагает инновации, помогающие реализовывать ключевые бизнес-задачи. Программа включает в себя автоматизацию работы административных подразделений и поддержку функционирования конкретных процессов в экономике при помощи информационного обеспечения.
						
						p Прошедший обучение специалист анализирует, прогнозирует, моделирует и создает информационные процессы и технологии в рамках профессионально-ориентированных информационных систем.
					.direction__items 
						span Программы
						.direction__items--column
							.direction__item 
								.direction__item--title 
									|Автоматизированное управление бизнес-процессами и финансами
								.direction__item--type
									span Тип обучения
									span Бакалавриат и специалитет
							.direction__item 
								.direction__item--title 
									|Автоматизированное управление бизнес-процессами и финансами
								.direction__item--type
									span Тип обучения
									span Бакалавриат и специалитет
							.direction__item 
								.direction__item--title 
									|Автоматизированное управление бизнес-процессами и финансами
								.direction__item--type
									span Тип обучения
									span Бакалавриат и специалитет