extends ../layouts/default

block vars
	-
		const page = {
			title: 'Событие'
		};
	- bodyMod = 'bg-white'
	- headerMod = 'header-inner--white'

block main
	.events-single
		.events-single__banner
			.container
				+breadcrumbs([
					{href: '#', text: 'События'},
					{href: '#', text: 'В УГНТУ проходит студенческая олимпиада «Газпром»'}
				], 'breadcrumbs--white events-single__breadcrumbs')
			.events-single__wrapper
				.events-single__left
					.events-single__left-top
						.events-single__topic
							+button('Университет', 'button--adaptive-size button--blue', '', '#')
						+title-block('В УГНТУ проходит студенческая олимпиада «Газпром»', '', 'events-single__title')
						.events-single__nav
							a.button-back.button-back--white.events-single__back(href='#')
								+button('', 'button-back__btn', 'arrow-left')
								span Назад
							a.events-single__share(href='#') Поделиться
								+button('', '', 'share')
					.events-single__info
						.events-single__info-item
							p Когда
							p 04 - 31 Марта
						.events-single__info-item.events-single__info-item--centered
							p Во сколько
							p 16:00
						.events-single__info-item
							p Где
							p.small ул. Космонавтов 1, <br> Корпус №7, каб. а13
				.events-single__right
					img(src='images/events/1.jpg', srcset='images/events/1@2x.jpg 2x', alt='')
					a.events-single__enroll(href='#', target='_blank') Записаться
		.events-single__main
			.container
				.events-single__text
					p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
						|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать
						|  управленческие решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую
						|  и организационную базу управления основной производственной деятельности организации. <br>
						|  Выпускник программы обладает компетенциями в области оценки эффективности, оптимизации, разработки и обоснования
						|  направлений развития производственных процессов предприятий нефтяной и газовой промышленности.Магистерская
						|  программа «Производственный менеджмент» <br>
						|  Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
						|  управленческих и административных служб нефтяных и газовых компаний.
					p Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
						|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать
						|  управленческие решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую
						|  и организационную базу управления основной производственной деятельности организации. <br>
						|  Выпускник программы обладает компетенциями в области оценки эффективности, оптимизации, разработки и обоснования
						|  направлений развития производственных процессов предприятий нефтяной и газовой промышленности.Магистерская
						|  программа «Производственный менеджмент»
					p Данную магистерскую программу можно считать «базовой» для подготовки специалистов различных экономических,
						|  управленческих и административных служб нефтяных и газовых компаний. <br>
						|  Знания и навыки, приобретаемые магистрантом в ходе обучения, позволяют ему вести эффективную профессиональную,
						|  научно-исследовательскую, аналитическую и практическую деятельность, разрабатывать и реализовывать
						|  управленческие решения в контексте актуальной хозяйственной ситуации, формировать новую научную, методическую
						|  и организационную базу управления основной производственной деятельности организации.
		section.news.events-single__other-events
			.container
				.news__top
					+title-block('Другие события', '', 'title-block--black news__title')
					+slider-arrows('slider-arrows--big slider-arrows--dark news__nav news__nav--other')
				.news__sliders-wrapper
					.news__slider.swiper-container.__js_slider-other-events.active
						.swiper-wrapper
							each item in EVENTS_OTHER
								+events-card('swiper-slide', item.img, item.day, item.date, item.time, item.topic)
