extends ../layouts/main

block vars
	-
		const page = {
			title: 'Главная'
		};
	- bodyMod = ''

block main
	include ../blocks/first-screen.pug
	include ../blocks/front-partners.pug
	include ../blocks/news.pug
	include ../blocks/events.pug
	include ../blocks/ad.pug
	include ../blocks/consult.pug
	include ../blocks/history.pug
	include ../blocks/vacancies.pug
	include ../blocks/about.pug
	include ../blocks/culture.pug
	include ../blocks/contacts.pug
	include ../blocks/app.pug
