extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};
	- bodyMod = 'bg-white'
	- headerMod = 'header-inner--white'

block main
	.main-page
		.main-page__hero.hero-main-page
			h1.hero-main-page__title
				.container
					|Университет
			.hero-main-page__bottom 
				.container
					.hero-main-page__row
						.hero-main-page__link 
							a.hero-main-page__link--click(href="#") 
								span 
									span 
								|Подробнее
						.hero-main-page__subtitle 
							|Уфимский государственный нефтяной технический университет – 
							span один из ведущих технических университетов России.
	
		.main-page__img-wrapper
			.main-page__img 	
				img(src="images/main-page/main-page-img.jpg", alt="alt")
		
		
		.main-page__status.status-main-page
			.container.status-main-page__container 
				.status-main-page__wrapper
					.status-main-page__name-block.main-page__name-block 
						|Статус
					.status-main-page__row 
						.status-main-page__title.main-page__title 
							|Университет имеет статус регионального опорного вуза России, является опорным вузом 
							span ПАО «ГАЗПРОМ», ПАО «Сибур Холдинг», стратегическим партнером ПАО «НК «Роснефть».
						.status-main-page__bottom
							.status-main-page__right.main-page__text  
								span В 2020 году университет победил в конкурсе и стал членом «Лиги вузов» ПАО «Газпром нефть».
							.status-main-page__btns
								.status-main-page__btn.status-main-page__btn-left
									+button('', 'button--gray', 'arrow-left')
								.status-main-page__btn.status-main-page__btn-right
									+button('', 'button--gray', 'arrow-right')
						.status-main-page__swiper.swiper 
							.swiper-wrapper 
								.swiper-slide 
									.status-main-page__item 
										img(src="images/main-page/1.svg", alt="alt")
								.swiper-slide 
									.status-main-page__item 
										img(src="images/main-page/2.svg", alt="alt")
								.swiper-slide 
									.status-main-page__item 
										img(src="images/main-page/3.svg", alt="alt")
								.swiper-slide 
									.status-main-page__item 
										img(src="images/main-page/4.svg", alt="alt")
								.swiper-slide 
									.status-main-page__item 
										img(src="images/main-page/5.svg", alt="alt")
								.swiper-slide 
									.status-main-page__item 
										img(src="images/main-page/6.svg", alt="alt")
		


				.article__right.article__right--order
					.arrow-right
					.article__links
						a.article__links-item(href='#', target='_blank')
							span Учебный научно-производственный центр
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Газета "За нефтяные кадры"
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Научно-технический журнал "Нефтегазовое дело"
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Сетевое издание "Нефтегазовое дело"
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')
						a.article__links-item(href='#', target='_blank')
							span Башкирский химический журнал
							+button('', 'button--gray', 'arrow-right')


		.main-page__merit.merit-main-page
			.merit-main-page__back-img 
				img(src="images/main-page/V-back.svg", alt="alt")
			.merit-main-page__container.container 
				.merit-main-page__name-block.main-page__name-block 
					|заслуги
				.merit-main-page__row 
					.merit-main-page__img 
						img(src="images/main-page/img.jpg", alt="alt")
					.merit-main-page__title.main-page__title
						|В 2021 году вуз вошел в федеральную программу «
						span Приоритет 2030
						|» и 
						span получил базовый грант 100 млн. рублей. 
				.merit-main-page__text.main-page__text Также УГНТУ стал единственным нефтегазовым вузом в стране, который получил специальную часть гранта по направлению «Территориальное и (или) отраслевое лидерство» в рамках программы «Приоритет 2030» в размере 142 млн. рублей.
		.main-page__history.history-main-page
			.history-main-page__container.container 
				.history-main-page__name-block.main-page__name-block 
					|История
				.history-main-page__items 
					.history-main-page__item 
						.history-main-page__item--title 
							span 40-e
						.history-main-page__item--text.main-page__text 
							span Университет был основан в октябре 1948 года на базе филиала Московского нефтяного института имени И.М. Губкина. Его стремительное развитие, строительство новых корпусов и открытие новых специальностей было обусловлено ростом нефтедобывающей промышленности на западе Башкирии и в Татарии.
					.history-main-page__item 
						.history-main-page__item--title 
							span 60-e
						.history-main-page__item--text.main-page__text
							span К середине шестидесятых годов Уфимский нефтяной превратился в разветвленную образовательную структуру, обеспечивавшую квалифицированными кадрами нефтедобычу и нефтепереработку Урало-Поволжского региона. С возникновением нового нефтедобывающего района - Западносибирского - в Уфимском нефтяном институте резко выросло число обучающихся. 
					.history-main-page__item 
						.history-main-page__item--title 
							span 80-e
						.history-main-page__item--text.main-page__text 
							span К началу восьмидесятых годов XX века вуз окончательно сформировался как учебно-научный комплекс всесоюзного ранга, приобретая черты технического университета.  В 1993 году вуз официально получил статус университета. В 2016 году после присоединения Уфимского государственного университета экономики и сервиса к УГНТУ университет получил статус опорного вуза России, а затем – опорного вуза ПАО «Газпром». За эти годы УГНТУ подготовлено свыше 115000 высококвалифицированных специалистов для всех отраслей топливно-энергетического, нефтегазодобывающего и строительного комплекса России.
							span Вуз успешно интегрирован в систему международного высшего образования и с 1996 года является полноправным членом Международной ассоциации университетов (МАУ). В стенах университета проходят обучение представители 70 субъектов Российской Федерации и граждане 52 государств ближнего и дальнего зарубежья (Казахстан, Куба, Вьетнам, Китай, Таджикистан и т.д.). Это слушатели курсов русского языка, студенты (инженеры, бакалавры, магистранты), аспиранты и докторанты.  
					.history-main-page__item 
						.history-main-page__item--title 
							span Наши дни
						.history-main-page__item--text.main-page__text 
							span В настоящее время в Уфимском нефтяном обучается более 1300 иностранных студентов. В вузе ведется активная работа по развитию международной деятельности, расширяются сферы международного сотрудничества в области научно-технических разработок, ведется активный обмен студентами и преподавателями в рамках программы академической мобильности, а также реализуется большой спектр программ профессиональной подготовки и переподготовки для иностранных специалистов. По линии Ассоциации университетов России и Азербайджана, ведется большая работа по развитию дружеских и партнерских связей, обмену опытом в научных изысканиях и внедрению современных технологий в сфере образования.  
							span В состав университета входят 4 факультета, 5 институтов, 2 высшие школы, магистратура, аспирантура и докторантура (работает 7 диссертационных советов), институт дополнительного профессионального образования, инжиниринговый центр и молодежный технопарк. Уфимский государственный нефтяной технический университет сегодня представлен тремя институтами в городах Октябрьский, Салават и Стерлитамак.
				.history-main-page__flex-top 
					|По всему спектру специальностей  обучаются более  20 тыс. студентов, а их подготовку ведет высококвалифицированный состав профессорско-преподавательских кадров по всем дисциплинам образовательных программ: более 1400 штатных преподавателей, среди них более 150 докторов наук, профессоров и более 750 кандидатов наук, доцентов.
				.history-main-page__flex 
					.history-main-page__flex-item.history-main-page__flex-item-empty 
					.history-main-page__flex-item 
						.history-main-page__flex-bottom
							.history-main-page__flex-text.main-page__text Пристальное внимание уделяется развитию науки. По объему научных исследований УГНТУ имеет самые высокие показатели в Приволжском Федеральном округе. Активно развиваются научные школы, несомненной гордостью которых являются имена известных ученых, среди них – действительные члены и члены-корреспонденты Академии наук РФ и РБ, заслуженные деятели образования, науки, техники, строительства и архитектуры.

							.history-main-page__flex-text.main-page__text В УГНТУ сложилась и успешно функционирует система трудоустройства выпускников. Подписаны прямые договоры и соглашения о сотрудничестве в области образовательных услуг и научных исследований с иностранными вузами, научными центрами и нефтяными компаниями. В целом, спрос на молодых специалистов УГНТУ превышает предложение, регулярно заключаются договоры, предусматривающие целевую подготовку и переподготовку специалистов с крупнейшими предприятиями и организациями ТЭК, такими как ЛУКОЙЛ, Татнефть, Газпромнефть, Сибур, Halliburton, Schlumberger, Baker Hughes и др. Особое внимание уделяется программам, реализуемым совместно с государственными компаниями «Роснефть», «Газпром», «Транснефть».

							.history-main-page__flex-text.main-page__text Неотъемлемой составной частью и основой развития вуза является его материальная база. По сути, история института и университета – это и история строительства, расширения учебных и бытовых площадей, постоянного обновления учебно-лабораторного и научно-исследовательского оборудования. Начальный пункт этого грандиозного марафона – два небольших ветхих здания, приспособленные под учебные занятия в 1948 году, в настоящее время университет располагает, помимо трех филиалов УГНТУ в регионах Башкортостана, компактно спланированными учебно-бытовыми комплексами со всеми службами. К услугам студентов, преподавателей и сотрудников – культурно-бытовой комплекс, спортивно-оздоровительный лагерь, спортивный комплекс с самым современным инвентарем и оборудованием, столовые. Студенты имеют возможность заниматься творчеством и развивать свои таланты. Высокий уровень танцевальных и театральных коллективов университета регулярно подтверждается призовыми местами в республиканских и российских конкурсах.

							.history-main-page__flex-text.main-page__text Таким образом, Уфимский нефтяной является сильным, хорошо оснащенным и адаптированным к современным условиям вузом, обеспечивающим подготовку специалистов широкого спектра знаний.