extends ../layouts/default

block vars
	-
		const page = {
			title: 'Программа'
		};
	- bodyMod = 'bg-white'
	- headerMod = 'header-inner--white'

block main
	.program
		.program__banner
			.container
				+breadcrumbs([
					{href: '#', text: 'Программа'},
					{href: '#', text: 'Автоматизированное управление бизнес-процессами и финансами'}
				], 'breadcrumbs--white program__breadcrumbs')
			.program__wrapper 
				.container.program__container
					.program__left
						.program__left-top
							+title-block('Автоматизированное управление бизнес-процессами и финансами', '', 'program__title')
					.program__right
						.program__right-item 
							.program__right-column
								.program__right-subtitle Бюджетные места
								.program__right-num 35
						.program__right-item 
							.program__right-column
								.program__right-subtitle Платные места
								.program__right-num 20
					.program__bottom
						.program__bottom-item 
							.program__bottom-column
								.program__bottom-subtitle 
									|Тип обучения
								span Бакалавриат 
									br
									|и специалитет
						.program__bottom-item 
							.program__bottom-column
								.program__bottom-subtitle 
									|Направление обучения
								span Автоматизация технологических 
									br
									|процессов и производств
		.program__main
			.container
				.program__text
					p Направление находится на стыке менеджмента и IT и предлагает инновации, помогающие реализовывать ключевые бизнес-задачи. Программа включает в себя автоматизацию работы административных подразделений и поддержку функционирования конкретных процессов в экономике при помощи информационного обеспечения.

					p Прошедший обучение специалист анализирует, прогнозирует, моделирует и создает информационные процессы и технологии в рамках профессионально-ориентированных информационных систем.

					p Бизнес-информатик связывает воедино стратегию и тактику бизнеса, ключевые задачи и способы их выполнения, а также высокоуровневые требования к программной системе и методы ее реализации.Направление находится на стыке менеджмента и IT и предлагает инновации, помогающие реализовывать ключевые бизнес-задачи. Программа включает в себя автоматизацию работы административных подразделений и поддержку функционирования конкретных процессов в экономике при помощи информационного обеспечения.

					p Прошедший обучение специалист анализирует, прогнозирует, моделирует и создает информационные процессы и технологии в рамках профессионально-ориентированных информационных систем.

					p Бизнес-информатик связывает воедино стратегию и тактику бизнеса, ключевые задачи и способы их выполнения, а также высокоуровневые требования к программной системе и методы ее реализации.
						br
						|Направление находится на стыке менеджмента и IT и предлагает инновации, помогающие реализовывать ключевые бизнес-задачи. Программа включает в себя автоматизацию работы административных подразделений и поддержку функционирования конкретных процессов в экономике при помощи информационного обеспечения.
					
					p Прошедший обучение специалист анализирует, прогнозирует, моделирует и создает информационные процессы и технологии в рамках профессионально-ориентированных информационных систем.
