extends ../layouts/default

block vars
	-
		const page = {
			title: 'Поиск'
		};
	- bodyMod = 'bg-white '

block main
	.search-page
		input(type='search', name='search', placeholder='Поиск')
		.search-page__content
			.search-page__results Результат поиска <span id="results">234</span>
			.search-page__items
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
				a.search-page__item(href='#', target='_blank')
					figure
						.search-page__item-group
							.search-page__item-title Научно-образовательный центр «Газпром нефть - УГНТУ»
							.search-page__item-text … в интересах ПАО «Газпром нефть»; создание условий для …
						+button('', 'search-page__link-btn', 'arrow-right')
			.pagination.search-page__pagination
				a.pagination__link.pagination__link--prev(href='#')
					+icon('arrow-left')
				span.pagination__link.active 1
				a.pagination__link(href='#') 2
				a.pagination__link(href='#') 3
				a.pagination__link(href='#') 4
				a.pagination__link(href='#') 5
				a.pagination__link.pagination__link--next(href='#')
					+icon('arrow-right')
