doctype html

include vars
block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		link(href="css/main.min.css" rel="stylesheet")
		link(rel='stylesheet' href='https://unpkg.com/swiper@8/swiper-bundle.min.css')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css')

		title= `${page.title}`

	body(class=bodyMod)
		.overlay
		block header
			include ../partials/header
			include ../partials/header-inner
			include ../partials/main-menu
			include ../partials/search-block

		main.main
			block main

		block footer
			include ../partials/_footer

		block modals

		script(src='https://unpkg.com/swiper@8/swiper-bundle.min.js')
		script(src='https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js')

		script(src="js/main.min.js")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAzRYZB36YULyiUsTrSkN7tu92ziw_i6Hc')

		block scripts
