-
	const MENU = [
		{
			url: '#',
			text: 'Поддержать ВУЗ'
		},
		{
			url: '#',
			text: 'Ковид'
		},
		{
			url: '#',
			text: 'Расписание'
		}
	];

	const MENU_2 = [
		{
			url: '#',
			text: 'Поступающим'
		},
		{
			url: '#',
			text: 'Обучающимся'
		},
		{
			url: '#',
			text: 'Alumni'
		},
		{
			url: '#',
			text: 'Наука и инновации'
		},
		{
			url: '#',
			text: 'Бизнесу'
		},
		{
			url: '#',
			text: 'Университет'
		}
	];

	const NEWS = [
		{
			img: '2',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '10.03.2022'
		},
		{
			img: '3',
			tag: 'Образование',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали <br> в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			img: '2',
			tag: 'Университет',
			title: 'Дмитрий Виноградов: О <br> сопромате на примере бублика',
			date: '12.02.2020'
		}
	];

	const NEWS_2 = [
		{
			img: '2',
			tag: 'Университет',
			title: 'Стратегическая сессия Евразийского НОЦ стартовала в Уфе',
			date: '10.03.2022'
		},
		{
			img: '3',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали <br> в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			img: '11',
			tag: 'Учеба',
			title: 'Дмитрий Виноградов: О <br> сопромате на примере бублика',
			date: '12.02.2020'
		},
		{
			img: '11',
			tag: 'Учеба',
			title: 'Дмитрий Виноградов: О <br> сопромате на примере бублика',
			date: '12.02.2020'
		}
	];

	const EVENTS = [
		{
			day: '04',
			date: 'Марта 2022',
			time: '16:00',
			topic: 'Международная конференция, посвященная 30-летию независимости Республики Таджикистан'
		},
		{
			day: '13',
			date: 'Марта 2022',
			time: '16:00',
			topic: 'Финатлон для старшеклассников'
		},
		{
			day: '26',
			date: 'Марта 2022',
			time: '16:00',
			topic: 'Международный онлайн конкурс перевода «Черное золото»'
		}
	];

	const EVENTS_2 = [
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		},
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		},
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		},
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		},
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		},
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		},
		{
			day: '22',
			date: 'Фев 2022',
			time: '16:00',
			topic: 'Для школьников «Роснефть-класса» стартовали занятия в УГНТУ',
			tag: 'Университет'
		}
	];

	const EVENTS_OTHER = [
		{
			img: '2',
			day: '04',
			date: 'Марта',
			time: '16:00',
			topic: 'Международная конференция, посвященная 30-летию независимости Республики Таджикистан'
		},
		{
			img: '2',
			day: '04',
			date: 'Марта',
			time: '16:00',
			topic: 'Международная конференция, посвященная 30-летию независимости Республики Таджикистан'
		},
		{
			img: '2',
			day: '04',
			date: 'Марта',
			time: '16:00',
			topic: 'Международная конференция, посвященная 30-летию независимости Республики Таджикистан'
		},
		{
			img: '2',
			day: '04',
			date: 'Марта',
			time: '16:00',
			topic: 'Международная конференция, посвященная 30-летию независимости Республики Таджикистан'
		}
	];

	const DIRECTIONS = [
		{
			faculty: 'Информатика <br> и вычислительная техника',
			programms: '2 программ',
			places: [
				{
					num: '124',
					type: 'Платных мест'
				},
				{
					num: '35',
					type: 'Бюджетных'
				}
			]
		},
		{
			faculty: 'Химическая <br> технология',
			programms: '12 программ',
			places: [
				{
					num: '124',
					type: 'Платных мест'
				},
				{
					num: '35',
					type: 'Бюджетных'
				}
			]
		},
		{
			faculty: 'Технология геологической разведки',
			programms: '12 программ',
			places: [
				{
					num: '124',
					type: 'Платных мест'
				},
				{
					num: '35',
					type: 'Бюджетных'
				}
			]
		},
		{
			faculty: 'Автоматизация технологических процессов и производств',
			programms: '8 программ',
			places: [
				{
					num: '124',
					type: 'Платных мест'
				},
				{
					num: '35',
					type: 'Бюджетных'
				}
			]
		},
		{
			faculty: 'Название <br> направления',
			programms: '123 Программы',
			places: [
				{
					num: '124',
					type: 'Платных мест'
				},
				{
					num: '35',
					type: 'Бюджетных'
				}
			]
		},
		{
			faculty: 'Название <br> направления',
			programms: '123 Программы',
			places: [
				{
					num: '124',
					type: 'Платных мест'
				},
				{
					num: '35',
					type: 'Бюджетных'
				}
			]
		}
	]

	const DOCUMENTS = [
		{
			title: 'Информатика <br> и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		},
		{
			title: 'Информатика <br> и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		},
		{
			title: 'Информатика <br> и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		},
		{
			title: 'Информатика <br> и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		},
		{
			title: 'Информатика <br> и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		}
	]

	const DOCUMENTS_2 = [
		{
			title: 'Информатика и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		},
		{
			title: 'Информатика и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		},
		{
			title: 'Информатика и вычислительная техника',
			fileType: 'PDF',
			date: '09.03.2022'
		}
	]

	const NEWS_GRID = [
		{
			className: 'js-filter-university',
			img: '4',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-science',
			img: '5',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-about',
			img: '6',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-science',
			img: '9',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-university',
			img: '7',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-main',
			img: '8',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-medicine',
			img: '10',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-university',
			img: '8',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
		{
			className: 'js-filter-university',
			img: '8',
			tag: 'Университет',
			title: 'Иностранные студенты и преподаватели УГНТУ побывали в Караидельском районе РБ',
			date: '09.03.2022'
		},
	]