/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html{
	scroll-behavior: smooth;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.35;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Фиксы iOS и другие */
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


@media (min-width: 1200px) {
	table {
		width: 100%;
		border-collapse: collapse;
		border: 0;

		thead tr {
			background-color: $gray-f5;
		}

		th,
		td {
			font-size: 18px;
			line-height: 28px;
			letter-spacing: -.02em;
		}

		th {
			padding: 36px 25px;
			font-weight: 400;
			color: $textMainColor;
			text-align: left;
		}

		tbody tr {
			border-bottom: 1px solid rgba(0, 0, 0, .2);
		}

		td {
			padding: 24px 25px;
			color: rgba(40, 40, 40, .4);
			border: 0;
		}
	}
}


hr {
	box-sizing: content-box;
	height: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
	margin: 30px 0;
}

blockquote {
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	font-size: 24px;
	line-height: 31px;
	letter-spacing: -.02em;
	text-align: center;
	padding: 65px 68px 58px 30px;
	margin: 52px 0 52px;
	color: $textMainColor;
}

/* 
body:not('.page-node-190') {

	.article__right,
	.article__top p {
		width: calc(40% - 56px);
	}

	.article__left {
		width: calc(60% - 56px);
	}

	.article__links-item {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	.article__right {
		opacity: .4
	}

	.article__right:hover {
		opacity: 1
	}
} 
*/













/*ЧБ*/
.visually-impaired{
	background-color: #000 !important;
	img, video{
		display: none !important;
	}
	*{
		color:#fff !important;
		background: #000 !important;
		background-color: #000 !important;
		box-shadow: none !important;
	}
	*:before, *:after{
		box-shadow: none !important;
		background: #000 !important;
		background-color: #000 !important;
	}
	@media (min-width: 1080px) {
		.first-screen__slider ul li > a:focus, .first-screen__slider ul li > a:hover {
			border-color: #fff;
		}
	}



	/*white*/
	.header__burger>span span{
		background-color: #fff !important;
	}
	.search-block__close svg, .vacancies__link svg, .culture__link svg, .contacts__nav button svg, .header-inner__search svg, .button--gray svg, .events-page__search label span svg{
		fill:#fff;
	}
	.events-page__search label input:focus, .events-page__search label input {
		border-color: #fff !important;
	}

	@media (min-width: 1080px) {
		.about__link:focus .about__link-content button svg, .about__link:hover .about__link-content button svg {
			 fill: #fff;
		}
	}

}