/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html{
	scroll-behavior: smooth;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.35;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Фиксы iOS и другие */
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

table td,table th {
	color: #282828 !important;
}

@media (min-width: 1200px) {
	table {
		width: 100%;
		border-collapse: collapse;
		border: 0;

		thead tr {
			background-color: $gray-f5;
		}

		th,
		td {
			font-size: 18px;
			line-height: 28px;
			letter-spacing: -.02em;
		}

		th {
			padding: 36px 25px;
			font-weight: 400;
			color: $textMainColor;
			text-align: left;
		}

		tbody tr {
			border-bottom: 1px solid rgba(0, 0, 0, .2);
		}

		td {
			padding: 24px 25px;
			color: rgba(40, 40, 40, .4) !important;
			border: 0;
		}
	}
}


hr {
	box-sizing: content-box;
	height: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
	margin: 30px 0;
}

blockquote {
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	font-size: 24px;
	line-height: 31px;
	letter-spacing: -.02em;
	text-align: center;
	padding: 65px 68px 58px 30px;
	margin: 52px 0 52px;
	color: $textMainColor;
}

/* 
body:not('.page-node-190') {

	.article__right,
	.article__top p {
		width: calc(40% - 56px);
	}

	.article__left {
		width: calc(60% - 56px);
	}

	.article__links-item {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	.article__right {
		opacity: .4
	}

	.article__right:hover {
		opacity: 1
	}
} 
*/













/*ЧБ*/
.visually-impaired{
	font-size: 20px;
	background-color: #000 !important;
	img, video{
		display: none !important;
	}
	*{
		color:#fff !important;
		background: #000 !important;
		background-color: #000 !important;
		box-shadow: none !important;
	}
	*:before, *:after{
		box-shadow: none !important;
		background: #000 !important;
		background-color: #000 !important;
	}

	.vacancies__thumb-item.active{
		span{
			text-decoration: underline;
		}
	}
	.vacancies__thumb-item-logo{
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		span{
			display: block!important;
		}
	}

	/*font-size*/
	.main-menu__subtitle, .news-preview__date, .news-card__date, .consult-card__programms, .consult-card__places-item p:last-child, .history__author-pos, .document-card__info, .direction__item--type span, .first-screen__slider ul li p+p{
		font-size: 16px;
		line-height: 20px;
	}
	.menu-column li a, .main-menu__outer>ul>li>a>span, .main-menu ul.main-menu__inner li a, .first-screen__slider ul li>a, .button, .news-card__title, .news__all, .calendar-item__date, .calendar-item__time, .topic, .consult__reset span, .history__author-name, .history__more, .vacancies__description, .vacancies__position p:last-child, .culture__text, .about__link-content span, .title-block p, .footer__contacts-email a, .footer__copyrights a, .footer__middle-text, .footer__creator, .header-inner ul li a, .breadcrumbs a, .button-back span, .article__links-item span, .article__text ul li, .field ul li, .text-formatted ul li, .article__text, table td, table th, .article__image-caption, .document-card__title, .article ul.article__ul li, .article ol.article__ol li, .direction__text, .direction__items>span, .banner__date, .direction-2__text, .program-card__item p:first-child, .events-single__share, .events-single__info-item p:first-child, .events-single__text, .events-single__enroll, .events-card__date, .events-card__time, .events-card__topic, .hero-main-page__link--click, .main-page__name-block, .status-main-page__span, .main-page__text, .news-page__more, .news-single__share, .news-single__gallery-caption, .news-single__text, .program__right-subtitle, .program__bottom-subtitle, .program__bottom-item span, .program__text, .programs__filter-block p, .field--checkbox span, .program-card__item p:last-child, .pagination__link, .programs-single__text, .programs-single__info-item p:first-child, .places__item p:first-child, .search-page__results, .search-page__item-text, .hero-students__right, .students__text-block p, .news-single__date, .news-preview__title, .calendar-item__topic, .consult-card__faculty, .history__description, .about__description, .direction__right-subtitle{
		font-size: 20px !important;
		line-height: 28px;
	}
	.vacancies__position p:first-child, .article__top p, .direction__item--title, .program-card__title, .programs-single__info-item p:last-child{
		font-size: 26px;
		line-height: 32px;
	}

	.about__bg{
		display: none;
	}

	/*white*/
	.main-menu__outer>ul>li>a span, .main-menu__outer>ul.inactive>li>a>span, .article ol.article__ol li span::before, .direction__items>span, .direction__item--type span, .first-screen__title span, .footer__middle-text, .direction__right-subtitle, .hero-main-page__subtitle span, .status-main-page__span, .main-page__title span, .news-single__date, .news-single__share, .program__right-subtitle, .program__bottom-subtitle, .article__table td::before{
		color: #fff!important;
		opacity: 1!important;
	}
	.header__burger>span span, .hero-main-page__link--click>span span::after, .hero-main-page__link--click>span span::before, .main-menu__outer>ul::-webkit-scrollbar-thumb, .main-menu__submenu-wrapper::-webkit-scrollbar-thumb, .main-menu__section::-webkit-scrollbar-thumb{
		background-color: #fff !important;
	}
	.search-block__close svg, .vacancies__link svg, .culture__link svg, .contacts__nav button svg, .header-inner__search svg, .button--gray svg, .events-page__search label span svg, .documents__nav button svg, .slider-arrows--dark button svg, .button-back__btn svg, .main-menu__outer>ul>li>a>svg, .first-screen__slider ul li button svg, .about__link:focus .about__link-content button svg, .about__link:hover .about__link-content button svg{
		fill:#fff;
	}
	.events-page__search label input:focus, .events-page__search label input, .article__text a, .text-formatted a, .document-card, .places{
		border-color: #fff !important;
	}

	@media (max-width: 1200px) {
		.main-menu__container-mobile .main-menu__click-mobile-span::after, .main-menu__container-mobile .main-menu__click-mobile-span::before {
			background-color: #fff!important;
		}

		.consult__right p.direction, .events__all, .vacancies__note, .vacancies__more, .about__description, .consult__more{
			font-size: 16px;
		}
		.article ol.article__ol li span::before{
			font-size: 20px;
			line-height: 26px;
		}
	}

	@media (min-width: 1080px) {
		.first-screen__slider ul li > a:focus, .first-screen__slider ul li > a:hover {
			border-color: #fff;
		}
	}

	@media only screen and (max-width: 560px) {
		.visually-impaired{
			font-size: 16px;
		}
		.header__logo span , .search-page__item-title{
			font-size: 26px;
			line-height: 32px;
		}
		.vacancies__position p:first-child, .article__top p, .direction__item--title, .program-card__title, .programs-single__info-item p:last-child{
			font-size: 22px;
			line-height: 28px;
		}
		.footer__copyrights{
			display: block;
		}
	}
}